[tool.poetry]
name = "Repour"
version = "2.4.0"
description = "Repour"
authors = ["Alex Szczuczko <alex@szc.ca>",
           "Jakub Senko <jsenko@redhat.com>",
           "Dustin Kut Moy Cheung <dcheung@redhat.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = "^3.8"
asyncssh = "^2.11.0"
voluptuous = "^0.13.1"
python-jose = "^3.3"
pyyaml = "^6.0"
prometheus_client = "^0.14.1"
prometheus_async = "^22.2"
kafka-logging-handler = "^0.2.5"
flake8 = "^4.0"
more-itertools = "^8.13.0"
giturlparse = "^0.10.0"
pylru = "^1.2.1"
cryptography = "37.0.4"
python-json-logger = "^2.0.4"

[tool.poetry.dev-dependencies]
tox = "^3.25"

[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist = True
# envlist=py36,py37,py38

[testenv]
skip_install = true
# install pytest in the virtualenv where commands will be executed
deps =
    pytest
    pre-commit
    flake8
commands =
    poetry install
    pre-commit run --all-files --show-diff-on-failure
    poetry run pytest test/
    flake8
"""
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
