[tool.poetry]
name = "Repour"
version = "2.1.0"
description = "Repour"
authors = ["Alex Szczuczko <alex@szc.ca>",
           "Jakub Senko <jsenko@redhat.com>",
           "Dustin Kut Moy Cheung <dcheung@redhat.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.6"
aiohttp = "^3.7"
asyncssh = "^2.5.0"
voluptuous = "^0.12.1"
python-jose = "^3.2"
pyyaml = "^5.4"
prometheus_client = "^0.9.0"
prometheus_async = "^19.2"
kafka-logging-handler = "^0.2.5"
flake8 = "^3.9"
more-itertools = "^8.7.0"
giturlparse = "^0.10.0"
pylru = "^1.2.0"
cryptography = "3.4.7"

[tool.poetry.dev-dependencies]
tox = "^3.23"

[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist = True
# envlist=py36,py37,py38

[testenv]
skip_install = true
# install pytest in the virtualenv where commands will be executed
deps =
    pytest
    pre-commit
    flake8
commands =
    poetry install -vvv
    pre-commit run --all-files --show-diff-on-failure
    poetry run pytest test/
    flake8
"""
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
